.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 6, 6);
    margin-bottom: 40px;
}

.header-container > h1 {
    letter-spacing: 20px;
    margin: 0;
    font-size: 80px;
    padding: 20px;
    color: rgb(231, 228, 228);
}

.header-container > div {
 padding: 40px;
}

.header-container div input{
    width: 300px;
    font-size:30px;
}

.search-container{
    display: flex;
    flex-direction: column;

}

.search-results{
    border: 1px solid black;
    position: absolute;
    display: inline-block;
    background-color: white;
    margin-top: 40px;
    padding: 10px 20px;
    max-width: 308px;

}

@media only screen and (max-width: 1350px){

    .header-container{
        width: 100%;
    }


    .header-container > h1{
        font-size: 30px;
        letter-spacing: 0px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .header-container > input{
        height: 20px;
        width: 200px;
        margin: 0 auto;
        margin: 20px 20px;
    }

}


@media only screen and (max-width: 1200px){
    
    .header-container{
        width: 100%;
    }
    .header-container > h1{
        font-size: 30px;
        letter-spacing: 0px;
    }

    .header-container > input{ 
        align-items: center;
        height: 10px;
        width: 100px;
        margin: 20px 20px;
    }
}

@media only screen and (max-width: 500px){

    .header-container{
        width: 100%;
    }

    .header-container > h1{
        font-size: 20px;
        letter-spacing: 0px;
    }
    .header-container > input{ 
        align-items: center;
        height: 10px;
        width: 100px;
        margin: 20px 50px;
        
    }

}

